.dragAndDropBox {
    background: #f1f1f1;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    transition: .24s;
}

.dragAndDropBox-input-wrapper {
    width: 100%;
    height: 100%;
    border: 2px dashed #868686;
    border-radius: 8px;
    margin: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight {
    position: relative;
    background: #ffffff !important;
}

.dragAndDrop-input-field-neutral {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dragAndDrop-input-field-active {
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    display: none;
}

.dragAnDropBox-file-list {
    position: absolute;
    color: #868686;
    font-size: 24px;
}

.dragAndDropBox-information-text {
    position: absolute;
}

.dragAndDropBox-information-text {
    position: absolute;
    user-select: none;
    pointer-events: none;
    font-size: 21px;
    color: #868686;
}
