.dragAndDropBox {
    background: #f1f1f1;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    transition: .24s;
    overflow: hidden;
}

.dragAndDropBox-input-wrapper {
    width: 100%;
    height: 100%;
    border: 2px dashed #868686;
    border-radius: 8px;
    margin: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight {
    position: relative;
    background: #ffffff !important;
}

.dragAndDrop-input-field-neutral {
    width: 100%;
    height: 400px;
    opacity: 0;
    cursor: pointer;
}

.dragAndDrop-input-field-active {
    width: 100%;
    height: 400px;
    opacity: 0;
    visibility: hidden;
    display: none;
}

.dragAnDropBox-file-list {
    position: absolute;
    color: #868686;
    font-size: 24px;
}

.dragAndDropBox-information-text {
    position: absolute;
}

.dragAndDropBox-information-text {
    position: absolute;
    user-select: none;
    pointer-events: none;
    font-size: 21px;
    color: #868686;
}

.gg-file-document {
    position: absolute !important;
    box-sizing: border-box;
    display: block;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 16px;
    border: 2px solid transparent;
    border-right: 0;
    border-top: 0;
    box-shadow: 0 0 0 2px;
    border-radius: 1px;
    border-top-right-radius: 4px;
    overflow: hidden;
    pointer-events: none;
}
.gg-file-document::after,
.gg-file-document::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-file-document::before {
    background: currentColor;
    box-shadow:
            0 4px 0,
            -6px -4px 0;
    left: 0;
    width: 10px;
    height: 2px;
    top: 8px
}
.gg-file-document::after {
    width: 6px;
    height: 6px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    right: -1px;
    top: -1px
}
